.container {
  box-sizing: border-box;
  background: #20382b;
  display: block;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 100%;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 10px;
  border:2px solid;
}

.new-tweet h2{
  margin: 0;
  border-bottom: 1px solid #feffff;
}

.container .new-tweet .tweet-form{
  margin-top: 5px;
  max-width: 350px;
  min-width: 350px;
}

.counter {
  font-weight: normal;
  float: right;
}

.warning {
  color: yellow;
}

.limit-reached {
  color: red;
}

#tweets-feed header{
  background:#1e5c3a;
  height:95px;
}

#tweets-feed .avatar{
  float: left;
  width: 60px;
  height: 60px;
  margin: 15px;
  border-radius: 10px;
  border:2px solid;
}

#tweets-feed h2 {
  margin-top: 0px;
  padding-top: 25px;
}