.container {
  box-sizing: border-box;
  background: #99c5b238;
  display: block;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 100%;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 10px;
  border:2px solid;
}

.new-tweet h2{
  margin: 0;
  border-bottom: 1px solid black;
}

.container .new-tweet .tweet-form{
  margin-top: 5px;
  width:100%
}

.counter {
  font-weight: normal;
  float: right;
}