.container {
  background: #20382b;
  display: block;
  font-family: 'Fira Sans Condensed';
  font-size: 100%;
  border-radius: 10px;
  border:2px solid;
  margin-bottom: 10px;
}

.new-tweet h2{
  margin: 0;
  border-bottom: 1px solid #feffff;
}

.container .new-tweet .tweet-form{
  margin-top: 5px;
  max-width: 350px;
  min-width: 350px;
}

.counter {
  font-weight: normal;
  float: right;
}

.warning {
  color: yellow;
}

.limit-reached {
  color: red;
}

.validationError {
  color:red;
  font-weight: 700;
}